################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ContaVida.DataRefresh/ContaVida.DataRefresh/appsettings.Production.json
